DATABASE_URL="postgresql://YOUR_DB_USER:YOUR_DB_PASSWORD@localhost:5432/YOUR_DB_NAME?schema=public"

JWT_SECRET="YOUR_JWT_STRONG_SECRET_KEY"
JWT_EXPIRATION_TIME="15m"

JWT_REFRESH_SECRET="YOUR_JWT_STRONG_REFRESH_SECRET_KEY"
JWT_REFRESH_EXPIRATION_TIME="7d"

USER_DELETION_CRON_SCHEDULE="0 2 * * *"
USER_DELETION_RETENTION_DAYS="5"

GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"
GOOGLE_CALLBACK_URL="http://localhost:3000/api/auth/google/callback"

CLOUDINARY_CLOUD_NAME="YOUR_CLOUDINARY_CLOUD_NAME"
CLOUDINARY_API_KEY="YOUR_CLOUDINARY_API_KEY"
CLOUDINARY_API_SECRET="YOUR_CLOUDINARY_API_SECRET"
CLOUDINARY_UPLOAD_FOLDER="login_forge_avatars"

PORT=3000
NODE_ENV="development"
FRONTEND_URL="http://localhost:4200"